.completed-pomos-number {
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.completed-pomos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
  background-color: #CFCFCF;
  border: 1px solid #4D5057;
  border-radius: 8px;
  width: 125px;

}

.completed-pomos p {
  margin: 0px;
  padding-right: 10px;
}

.equal-sign {
  font-size: 2em;
}

.check-mark {
  padding-right: 10px;
}